.embla {
  overflow: hidden;
  position: relative;
}
.container {
  display: flex;
  height: 580px;
  width: 420px;
}
.slide {
  flex: 0 0 100%;
  min-width: 0;
}

.viewport {
  overflow: hidden;
  width: 100%;
}
